h1 {color :brown;}
p {color :blue;}
button { background-color:red; color:antiquewhite; } 
#cl { color:blue;}
h1,p ,button {color :brown}
p{ padding: 30px}

button {margin: 30px;}
.container { display:flex;}